body{
    font-family:'poppins',sans-serif;
}

h1{
    font-size: 50px;
}
.name{
    color: aquamarine;
}  
 .width{
    width:40%;
    float:left; 
    margin-left:30px;
    padding-left:40px;
 }
 .width img {
     width:70%;
     padding-left:30%;
 }